<div class="container">
    <EditForm Model="Model" OnValidSubmit="BotonGuardar">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <InputText @bind-Value="Model.Nombre" class="form-control" id="nombre"/>
                <ValidationMessage For="() => Model.Nombre" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <button type="submit" class="btn btn-primary"><i class="bi bi-floppy me-1"></i>@TextoBoton</button>
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" href="categorias/list"><i class="bi bi-backspace me-1"></i>Regresar</a>
            </div>
        </div>
    </EditForm>
</div>

@code {

    [Parameter]
    [EditorRequired] // Este parametro debe ser obligatorio
    public MarcaDtoRequest Model { get; set; } = new();

    [Parameter]
    public EventCallback BotonGuardar { get; set; }

    [Parameter]
    public string TextoBoton { get; set; } = "Guardar";

}
