<div class="card-group">
    <div class="card" style="background-color: #e3f2fd;">
        <div class="card-body">
            <h5 class="card-title"><b>Quienes Somos</b></h5>
            <p class="card-text">En ATM Repuestos y accesorios SAC, somos tu socio confiable en la búsqueda de repuestos y accesorios para autos y motos. Con más de 5 años de experiencia en el sector automotriz en la ciudad de Chiclayo Perú</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card" style="background-color: #e3f2fd;">
        <div class="card-body">
            <h5 class="card-title"><b>Por qué elegirnos</b></h5>
            <p class="card-text">
                <u>
                    <li>Variedad de productos</li>
                    <li>Atención personalizada</li>
                    <li>Calidad garantizada</li>
                    <li>Precios competitivos</li>
                </u>
            </p>
        </div>
    </div>

    <div class="card" style="background-color: #e3f2fd;">
        <div class="card-body">
            <h5 class="card-title"><b>Ubícanos</b></h5>
            <p class="card-text">
                <u>
                    <a href="wa.me/51960311720"><li>Teléfono:+51 960 311 720</li></a>
                    <a href="mailto:atmrepuestos@ventas.com"><li>Email: atmrepuestos@ventas.com</li></a>
                    <li>Horario: L-S, 8:00am - 6:00pm</li>
                </u>
            </p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
  
</div><br>

<p class="text-center">Todos los derechos reservados - ATM Respuestos SAC 2024</p>

  

@code {

}
